*{
    padding: 0px;
    margin: 0px;
}
body{
    background: linear-gradient(to bottom right,rgb(0, 255, 204),black);
    
}
.container{
    height: 100vh;
    width: 100vw;
   
 

}
.img{
        width: 100%;
        height: 100%;
       
    
}
.secondcontainer{
   
   width: 260px;
   margin: 0 auto;
   position: relative;
   top: 40%;
   transform: translateY(-40%);
   border: 2px solid black;
   border-radius: 8px;
   padding: 12px;
   background-color: rgb(206, 234, 224);
   color: rgb(0, 0, 0);
   border-style: dashed;
  

   

}
.heading{
    font-size: xx-large ;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    padding: 4px;
    margin: 2px;
    font-weight:bold;
    
}

button{
    background-color: rgb(43, 165, 240);
    margin: 2px;
    padding: 2px;
    width: 100%;
    color: white;
    cursor: pointer;
}
input{
    width: 100%;
}
.linkk{
    margin: 4px;
    padding: 2px;
    text-align: center;
}
div{
    font-weight: bold;
}
.circle1{
    width: 200px;
    height: 200px;
    border-radius:100px;
    position: absolute;
    background: linear-gradient(to right,rgb(0, 255, 183),rgb(65, 64, 64));
    top: 60px;
}
.circle2 {
    width: 200px;
    height: 200px;
    border-radius: 100px;
background: linear-gradient(to right, rgb(0, 255, 183), rgb(65, 64, 64));
    position: absolute;
    right: 100px;
    
}